@using BusinessLogic.Interfaces
@model ProductDto;
@inject ICartService cartService;

<div class="col">
    <div class="card h-100">
        <a asp-controller="Products"
           asp-action="Details"
           asp-route-id="@Model.Id"
           asp-route-returnUrl="@Context.Request.Path">
            <img src="@Model.ImageUrl" class="card-img-top" alt="Image Url">
        </a>
        <div class="card-body">
            <h5 class="card-title">
                <a class="title-link"
                   asp-controller="Products"
                   asp-action="Details"
                   asp-route-id="@Model.Id"
                   asp-route-returnUrl="@Context.Request.Path">
                    @Model.Name
                </a>
            </h5>
            <p class="card-text">
                @Model.Price$<br />
                @(Model.CategoryName ?? "category not loaded")
            </p>
        </div>
        <div class="card-footer">
            @* TODO: optimize checking is product exist in cart *@
            @if (cartService.IsExists(Model.Id))
            {
                <a asp-controller="Cart" asp-action="Remove" asp-route-id="@Model.Id" class="btn btn-secondary">Remove from Cart</a>
            }
            else
            {
                <a asp-controller="Cart" asp-action="Add" asp-route-id="@Model.Id" class="btn btn-primary">Add to Cart</a>
            }
        </div>
    </div>
</div>